
$links: #0bf;
$light-gray: #d7d7d7;
$text: #767676;
$shape: #626262;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: $text;
  letter-spacing: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1.75rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

li {
  list-style: none;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: center;
  padding: 1.5rem 0;
  font-weight: lighter;
  line-height: 1.25rem;
}

.section2 img {
  display: flex;
  width: 80%;
  margin: auto;
}

//logo--------
.logo {
  font-size: 1.15rem;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  color: $links;
  font-weight: bold;
  letter-spacing: 3px;
}

//cart--------
.shopping-bag {
  align-self: center;
}
//Nav------------------

.utility-nav,
.main-nav,
.footer-nav,
.logo-2,
.social-links-2 {
  display: none;
}

.mobile-nav {
  justify-content: flex-start;
  align-self: center;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1px;
}

.mobile-nav a {
  color: $shape;
}

//hero------------------
.hero-img {
  width: 100%;
}
//articler------------------

article {
  margin: 3rem;
}

.button-01 {
  ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  a {
    margin: 1rem 0.75rem;
    display: flex;
    width: 17rem;
    padding: 1.25rem 4rem;
    justify-content: center;
    background: $links;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 2px;
  }
}

.header {
  border-bottom: 1px solid $shape;
  padding-bottom: 2.5rem;
}

.button-02 {
  ul {
    display: flex;
    justify-content: center;
  }

  a {
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    color: $links;
    letter-spacing: 2px;
  }
}

.colection {
  padding-bottom: 1rem;
}

footer {
  background: $light-gray;
  padding: 2rem;
}

.quick-links {
  ul {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid $shape;
    padding: 1rem;
  }

  a {
    color: $links;
    font-weight: bold;
  }

  li:last-of-type a {
    color: $text;
  }
}

.newsletter {
  margin-top: 1.5rem;

  h2 {
    font-size: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    color: $text;
  }

  p {
    color: $text;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem 0 1rem;
  }
}

form {
  display: flex;
  justify-content: center;
  margin: 1rem;

  input {
    display: flex;
    width: 75%;
    letter-spacing: 3px;
    font-size: 0.75rem;
    font-weight: lighter;
    color: $light-gray;
    padding: 1rem;
    text-align: center;
    border-style: none;
  }

  a {
    font-size: 1.5rem;
    font-weight: bolder;
    background: $shape;
    color: $light-gray;
    padding: 0.5rem 1.25rem;
  }
}

.social-links-1,
.term {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 2rem 0;

  ul {
    display: flex;
  }

  a {
    text-transform: capitalize;
    color: $links;
    margin: 1rem;
  }

  img {
    height: 2rem;
  }
}

.copyright {
  background: $shape;

  p {
    font-size: 0.5rem;
    padding: 0.75rem;
    color: #fff;
  }
}

// MOBILE=========================
@media screen and (min-width: 1000px) {
  .mobile-nav,
  .shopping-bag {
    display: none;
  }

  header {
    margin-bottom: 2.5rem;
    display: flex;
    flex-flow: row wrap;
  }

  .utility-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 2rem;

    ul {
      display: flex;
      align-self: flex-start;
      justify-content: flex-end;
    }

    a {
      text-align: right;
      margin-left: 1rem;
      color: $links;
      font-size: 0.75rem;
    }
  }

  .logo {
    align-self: flex-end;
    padding: 0;
  }

  .main-nav {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    ul {
      display: flex;
      justify-content: space-between;
      align-self: flex-end;
      width: 100%;
    }

    a {
      color: $links;
      text-align: right;
    }
  }

  .section1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-flow: row nowrap;
    background: $light-gray;
    padding-right: 5%;

    img {
      display: flex;
      width: 50%;
      margin: auto;
      margin-bottom: 0;
    }
  }

  .header {
    border-bottom: 0;
    padding-bottom: 0;
    align-self: center;
    width: 30%;

    p {
      margin: 0 2rem;
    }
  }

  .button-01 {
    ul {
      justify-content: center;
    }

    a {
      width: 10rem;
      padding: 1.25rem 0;
    }
  }

  .section2 {
    display: flex;
    margin: 5% 10%;
    background: $light-gray;
    border: 2px solid $light-gray;

    img {
      display: none;
    }

    article {
      width: 50%;
      background: #fff;
      margin: 0;
      padding: 10%;
    }

    .classic {
      margin-left: 50%;
    }
  }

  .section3 {
    display: flex;
    background: $light-gray;
    justify-content: center;
    margin-bottom: 5%;

    img {
      display: none;
    }
  }
}
